{% extends "base_login.html" %}
{% block title %}Bienvenido{% endblock %}
{% block content %}
    <style>
        button {
            width: 150px;
        }
        .Contenedor {
            text-align: center;
        }
    </style>
<div class="Contenedor">
    <h1>Inventario Host</h1>
    <h1>
        <img src="/static/admin/img/logo_cencosud.jpg" width="160" height="80">
    </h1>
    {% if user.is_authenticated %}
        {% if user.get_full_name == '' %}
            <h4>Bienvenido/a,  {{user.username}}</h4>
        {% else %}
            <h4>Bienvenido/a,  {{user.get_full_name}} </h4>
        {% endif %}
        <a href="{% url 'sign_out' %}"><button>Cerrar sesi&oacuten</button></a>

        <a href="{% url 'inventario' %}"><button>Inventario</button></a>

    {% else %}
        <!--a href="{% url 'sign_up' %}">Registrate</a-->
        <a href="{% url 'sign_in' %}"><button>Iniciar sesi&oacuten</button></a>
    {% endif %}
</div>
{% endblock content %}
